<?xml version="1.0"?>
<config>
    <modules>
        <Edge_StructuredData>
            <version>1.0.3</version>
        </Edge_StructuredData>
    </modules>
    <global>
        <models>
            <edge_structureddata>
                <class>Edge_StructuredData_Model</class>
            </edge_structureddata>
        </models>
        <blocks>
            <edge_structureddata>
                <class>Edge_StructuredData_Block</class>
            </edge_structureddata>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <edge_structureddata>
                    <file>edge_structureddata.xml</file>
                </edge_structureddata>
            </updates>
        </layout>
    </frontend>
</config>